@CHARSET "UTF-8";
/* common */
textarea { font-family: Arial; overflow:auto; }
input { font-family:tahoma; font-size:12px; vertical-align:middle; height:21px; }
select { height:22px }
label { vertical-align:middle }
a { color:#1076D5; cursor:pointer }
a:link { color: #425f9d; text-decoration: none; }
a:visited { color: #425f9d; text-decoration: none; }
a:hover { color: blue; text-decoration: underline; }
a:active { color: #425f9d; text-decoration: none; }
a img { border-width:0; }
.b { font-weight: 600 }
.center { text-align: center }
.f_14 { font-size: 14px; }
.f_16 { font-size: 16px; }
.f_18 { font-size: 18px; }
.f_20 { font-size: 20px; }
.f_red { color:#ff4e00; }
.f_blue { color:#1d366b; }
.f_gray { color:#8B8A8A; }
.f_bgreen { color:#8EAF0D; }
.f_dgray { color:#8e8e8e; }
.f_l { text-align:left; }
.f_r { text-align:right; }
.f_c { text-align:center; }
.h5 { height: 5px; font-size:12px; overflow: hidden; }
.h10 { padding: 5px 0; font-size:12px; overflow: hidden; }
.h20 { padding: 10px 0; font-size:12px; overflow: hidden; }
.h35 { padding: 35px 0 0 0; font-size:12px; overflow: hidden; }
.foot_col_gray { color:#918A78; }
.tip_padding_left { padding-left: 20px; }
.input70 { width: 70px; }
.input100 { width: 100px; }
.input180 { width: 180px; }
.input220 { width: 220px; }
.email_send_button { width: 100px; height: 25px; vertical-align:middle; }
label.error { color:red; padding-left: 10px; vertical-align:middle; }
.odd { background:#F1FAFF; height:30px }
.even { background:#fff; height:30px }
p { line-height:2em; }
.pt10 { padding-top:10px; }
div, p { white-space:normal; word-break:break-all; word-wrap:break-word; }
.green_line { background:url("../images/green_line.jpg") -1px bottom no-repeat; padding-bottom:7px; }
.div22 { line-height:22px; }
b { font-weight:600; }
.bb1 { border-bottom:1px solid #D8DFEA; padding:10px 0; }
.bt1 { border-top:1px solid #D8DFEA; padding:10px 0; }
.bt { border-top:1px solid #D8DFEA; }
.btd { border-top:1px dashed #d7dbde; }
.bbd { border-top:1px dotted #d7dbde; }
.comment_edit textarea { width:500px; height:80px; }
.tab_interval_green { height: 3px; background: #729B17; font-size: 1px; }
.l { float:left }
.r { float:right }
.on { background: #F7F7F7; }
.onp { background: #FEFBEC; }
.silverBg { background: url("../images/silver_bg.png") repeat-x; border-left: 1px solid #C4CDD3; border-right: 1px solid #C4CDD3; height:37px; }
.silverBg2 { background: url("../images/silver_bg.png") repeat-x; height:37px; }
.stepOK { background: url("../images/stepOK.png") no-repeat; height:22px; width:215px; margin:3px 1px 0 1px; display: block; }
.stepWait { background: url("../images/stepWait.png") no-repeat; height:22px; width:215px; margin:3px 1px 0 1px; }
.stepCurrent { background: url("../images/stepCurrent.png") no-repeat; height:22px; width:215px; margin:3px 1px 0 1px; display: block; }
.stepBg { background: url("../images/stepbg.png") no-repeat; height:28px; width:872px; margin:0 auto; padding-left:2px; }
.stepBg1 { background: url("../images/stepbg1.png") no-repeat; height:28px; width:656px; margin:0 auto; padding-left:2px; }
.stepFont { width:872px; padding:10px 0; margin:0 auto; }
.stepFont1 { width:656px; padding:10px 0; margin:0 auto; }
.stepItem { width:215px; height:24px; line-height:24px; }
.stepItem span { margin:0 0 0 40px; font-size:14px; }
.stepOKItem { background: url("../images/stepOKItem.png") no-repeat 20px 8px; height:24px; color:#78A11D; }
.stepCurrentItem { background: url("../images/stepCurrentItem.png") no-repeat 20px 8px; height:24px; color:#ED6D30; font-weight:600; }
.stepWaitItem { height:24px; color:#848484; }
.dot { color:#555555; display:block; font-family:'宋体'; height:20px; line-height:20px; }
.common_btn { width: 80px; height: 27px; }
.blueProgressBar{ color:#6297cc}
.greenProgressBar{ color:#fff;}  
