@CHARSET "UTF-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit }
del, ins { text-decoration: none }
ul,ol{ list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%;}
legend { color: #000 }
input, button, textarea, select { font-size: 100% }
small{font-size:12px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
#page,#header,#content,#footer{margin-left:auto;margin-right:auto;}
.hidden{display:none;}
.display{display:block;}

/*clear */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { zoom: 1; display: inline-block; _height: 1px }
.clearfix { display: block }